*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

error_log
application/config/database.php
application/cache/*
assets/uploads/*
.htaccess

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
